@model DashBoardVM;

<div id="contents" class="sixteen columns">
    <h3 style="text-align: center;"> শিক্ষা বর্ষপঞ্জি </h3>
    <hr/>
    <div class="twelve columns">
        <div style="text-align: justify;">
            <p>তথ্য উন্নয়নের কাজ চলছে....</p> <br>
        </div>
    </div>
</div>