@model DashBoardVM;

<div id="contents" class="sixteen columns">
    <h3 style="text-align: center;"> লক্ষ্য ও উদ্দেশ্য </h3>
    <hr/>
    <div class="twelve columns">
        <div style="text-align: justify;">
            <p>@Model.Aims</p> <br>
        </div>
    </div>
</div>