@model DashBoardVM;

<div id="contents" class="sixteen columns">
    <h3 style="text-align: center;"> প্রাতিষ্ঠানিক অবকাঠামো </h3>
    <hr/>
    <div class="twelve columns">
        <div style="text-align: justify;">
            <p>@Model.InstitutionalStructure</p> <br>
        </div>
    </div>
</div>